@import 'tailwindcss';
 @plugin "daisyui" {
   themes: nord --default, night --prefersdark;
 }

@theme {
	--font-family-sans: 'Inter', system-ui, -apple-system, sans-serif;
}

body {
	font-family: var(--font-family-sans);
	@apply bg-base-200 min-h-screen p-8;
}

.content-container {
	@apply bg-base-100 rounded-box shadow-lg p-8 max-w-7xl mx-auto;
}
